@import 'tailwindcss';
@import '@fontsource/inter/400.css';
@import '@fontsource/inter/500.css';
@import '@fontsource/inter/600.css';
@import 'leaflet/dist/leaflet.css';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

:root {
    --color-bg: #f1f1f1;
    --color-fg: #171717;
    --color-fg-secondary: #6d6d6d;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color-bg: #0a0a0a;
        --color-fg: #fbfbfb;
        --color-fg-secondary: #9a9a9a;
    }
}

@theme {
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
    --color-background: var(--color-bg);
    --color-foreground: var(--color-fg);
    --color-foreground-secondary: var(--color-fg-secondary);
}

body {
    background-color: var(--color-background);
    color: var(--color-foreground);
}
